/*General styles*/
* {
    box-sizing: border-box;
}

body {
    padding: 40px;
    padding-top: 80px; /* for .header */
    background-color: #FAFAFA;
}

/* utility */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* page */
.page {
    overflow: auto;
}


/* header */
.header {
    height: 65px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.header .logo {
    color: #555;
    font-size: 32px;
    left: 40px;
    line-height: 60px;
    position: absolute;
}

.header .account {
    padding: 12px 0;
    position: absolute;
    right: 40px;
}

.header .share {
    position: absolute;
    left: 120px;
    right: 105px;
    top: 10px;
}

.header .share-closed {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    color: #999;
    font-size: 16px;
    height: 45px;
    line-height: 43px;
    padding: 0 17px;
    overflow: hidden;
    width: 100%;
}

.header .share-closed:hover {
    cursor: pointer;
    color: #444;
    border-color: #BBB;
}

.header .share-open {
    background: white;
    border: 1px solid #BBB;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, 0.15);
    color: #444;
    height: 270px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header .share-open input,
.header .share-open textarea {
    margin-bottom: 10px;
}

.header .share-open textarea {
    height: 100px;
}


/* sidebar */
.sidebar {
    float: left;
    padding-top: 3px; /* for main content tab underlines */
    width: 30%;
}

/**
 * components
 */

/*Filter button styles*/
.filter-btn {
    background-color: #fff;
    border: 1px rgba(0, 0, 0, 0.15) solid;
    border-radius: 2px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.filter-btn:hover {
    border: 1px #777 solid;
    color: #000;
    cursor: pointer;
}

/*avatar icon styles*/
.avatar {
   /*background: url(http://getuikit.com/docs/images/placeholder_600x400.svg) center center;
   background-size: cover;*/
   border-radius: 500px;
   height: 40px;
   width: 40px;
   display: inline-block;
   margin-right: 4px;

    opacity: 0.75;
   transition: all 300ms;
}

.avatar-btn:hover {
    /*height: 48px;
    margin-top: 5px;
    width: 48px; */

    opacity: 1;
    cursor: pointer;
/*
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .45);
    transform: translate(-3px, -3px);*/

}


/**
 * panels
 */

.panel {
    overflow: hidden;
}
.panel-content {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #EEE;
    border-top: none;
}

.panel-main {
    float: left;
    margin-left: 20px;
    width: calc(70% - 30px);
}
.panel-main .panel-content {
    padding: 4% 2%;
}


.panel-filter {
    margin-bottom: 20px;
}
.panel-filter .panel-content{
    padding: 8px;
}


/**
 * panel title bars
 */

.title-bar {
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    color: rgba(0, 0, 0, 0.8);
    cursor: default;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

/*title bar text */
.title-bar .title {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

/* title bar tabs */
.title-bar .tab.selected {
    border-bottom: 3px solid black;
}

.title-bar .tab:not(.selected):hover {
    border-bottom: 3px solid #888;
    cursor: pointer;
}

/* title bar search icon */
.title-bar .fa-search {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    top: 2px;
}


/**
 * message
 */

/*message styles*/
.message {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
    position: relative;
}

.message .sender {
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
}

.message .sender .avatar {
    background: url(img/person1.jpg) center center;
    background-size: cover;

    margin: auto;
    margin-top: 5px;
}

.message .sender .time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    line-height: 13px;
    margin-top: 4px;
}

.message .link-content {
    margin-left: 70px; /* same as .sender width */
    position: relative;
}
.message .link-content .note {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 17px;
}


/**
 * link detail
 */

.link-detail {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15);
    height: 120px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
}

.link-detail .text {
    height: 100%;
    margin-right: 120px; /* same as .image width */
    padding: 5px 8px;
    position: relative;
}

.link-detail .text .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-detail .text .body {
    font-size: 14px;
    line-height: 16px;
}

.link-detail .text .url {
    background-color: #FFF;
    bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    height: 20px;
    left: 0;
    line-height: 15px;
    overflow: hidden;
    padding: 0 8px 5px;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-detail .image {
   /* background: url(../img/cat1.jpg) center center;
    background-size: cover;*/
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}



